* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image:linear-gradient(rgba(0,0,0,0.4), #3551b5), url(style/images/image13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Set the height of the body to full viewport height */
}

.contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-left: -1000px;
}

.contact-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 800px;
}

.contact-card h3 {
    width: 400px; /* Adjust the width as needed */
    margin-left: 20px; /* Add some margin to create spacing between the image and text */
    margin-top: 30px;
    font-size: 25px;
    margin-right: 90px;
    color: white;
}

.contact-card h3 span{
    color: red;
}



.contact-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-right: 20px;
    margin-top: 50px;
}


.contact-card .contact-info {
    display: flex;
    justify-content: space-between; /* Align the links horizontally */
    margin-top: 20px; /* Adjust the margin as needed */
    font-weight: bold;
    font-size: 15px;
    color: white;
}

.contact-card .contact-info a {
    color: rgb(91, 255, 236);
    text-decoration: none;
    margin-top: 20px;
    margin-right: 80px; /* Add a right margin of 50px */
    margin-left: -68px;
    
}

.contact-card .contact-info a span{
    margin-left: 22px;
}





/* --------------------------sympton section ----------------- */
.symptom-section {
    margin-top: 20px;
    margin-bottom: 30px;
}

.symptom-section h2 {
    font-size: 24px;
    font-weight: bold ;
    color: white;
}

.symptom-checkbox {
    display: flex;
    align-items: center;
    /* margin-bottom: 10px; */
}

.symptom-checkbox input[type="checkbox"] {
    margin-right: 10px;
    margin-left: -400px;
}

.symptom-checkbox input[type="range"] {
    width: 200px;
}


.symptom-checkbox label {
    font-size: 16px;
    color: white;
    position: relative;
    margin-left: -450px;
    width: 200px;
    position: inherit;
    
}



/* ------------------navbar------------------------- */
.navbar {
    position: fixed; /* Change position to fixed */
    top: 0; /* Position the navbar at the top */
    width: 100%; /* Make the navbar full width */
    z-index: 9999;
    background-color: transparent; /* Set background color to transparent */
}

.navbar nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: 'Josefin Sans' ,sans-serif;
    
}

.logo {
    color: white;
    font-size: 28px;
}

.logo span {
    color: red;
}

nav ul {
    list-style-type: none;
    display: inline-flex; /* Use inline-flex to align the list items horizontally */
    margin: 0;
    padding: 0;
}

nav ul li {
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: .3s;
}
